.contenedor-layout{
    display: flex;
    flex-direction: row;
}
.sidebar-component{
    /* width: 251px ; */
    min-width: 223px;
    height: 100vh;
    overflow-y: auto;
}
.sidebar-component::-webkit-scrollbar{
    width: 10px;
    background: var(--Btn_hover);
}
.sidebar-component::-webkit-scrollbar-thumb{
    background: var(--Btn_reposo);
    
}
.sidebar-component::-webkit-scrollbar-thumb:hover{
    background: var(--scroll_hover);
    
}
.sidebar-component::-webkit-scrollbar-track{
    width: 10px;

}
.all-container{
   width: 100%;
   height: 100vh;
   background: var(--background-Gradient2); 
}